<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>S_类似新闻的首页滚动视图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B51F5AF1CDAE563005301B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B51F5C31CDAE564005301B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B51F5CE1CDAE564005301B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
