<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>贴纸.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BB1143A1CF2ECFC003CF479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB114531CF2ED01003CF479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB1145E1CF2ED02003CF479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
