<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YZDisplayViewControllerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC01A87E1C12883B00F91F25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC01A8971C12883C00F91F25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC01A8A21C12883C00F91F25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
